@tailwind base;
@tailwind components;
@tailwind utilities;

/* style bar overflow */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c1b8b8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #014069;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4DBAFF;
}


/* create hover btn-secondary */
.btn-secondary:hover {
  background-color: #0672b5;
  /* text color */
    color: #fff;
}

.btn-primary:hover {
    background-color: #033350;
    /* text color */
        color: #fff;
}

.btn-danger{
    background-color: #bc4141;
    /* text color */
        color: #fff;

}

.btn-danger:hover {
    background-color: #b50505;
    /* text color */
        color: #fff;
}


/* style bar overflow */



/* komponen ul yang berada di bawah class show-list kasih list disc*/
.show-list ul {
    list-style-type: disc;
    margin-left: 20px;
}

.show-list ol {
    list-style-type: decimal;
    margin-left: 20px;
}

/* alpha list */
.show-list ul.alpha {
    list-style-type: lower-alpha;
    margin-left: 20px;
}

/* create css animation to show .alert-animation  zoom-out end hide to zoom in*/
@keyframes zoom-out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.alert-animation {
    animation: zoom-out 0.7s, zoom-in 0.7s;
    animation-fill-mode: forwards;
}

/* buatkan animasi memudar untuk alert-container-animation */
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.alert-container-animation {
    animation: fade-out 0.5s, fade-in 0.5s;
    animation-fill-mode: forwards;
}


